<div id="home-sidebar" class="col-md-3">
    <p class="lead">Tipos</p>
    <div class="list-group">
        <% @kinds.each do |kind| %>
             <%= link_to "#{kind.description}", site_kind_path(kind), class: "list-group-item" %>
        <% end %>
    </div>
</div>
